<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <strong>Truequeapp</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <!-- Links comunes a todos los usuarios -->
                <a class="navbar-item">¿Quiénes somos?</a>
                <a class="navbar-item">Contacto</a>
    
                {% if user.is_authenticated %}
                    <!-- Links para usuarios autenticados -->
                    <a class="navbar-item">Subir Oferta</a>
                    <a class="navbar-item">Ver Ofertas</a>
                    <a class="navbar-item">Ver Perfil</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Profile</h1>
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">Full Name</p>
                            <p class="subtitle is-6">{{ user.get_full_name }}</p>
                        </div>
                    </div>
                </article>
                <hr>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">Email</p>
                            <p class="subtitle is-6">{{ user.email }}</p>
                        </div>
                    </div>
                </article>
                <hr>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">Address</p>
                            <p class="subtitle is-6">{{ user.profile.address }}</p> 
                        </div>
                    </div>
                </article>
                <hr>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">Date of Birth</p>
                            <p class="subtitle is-6">{{ user.profile.date_of_birth|date:"Y-m-d" }}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>
